<form [formGroup]="subjectForm" (submit)="onSubmit(subjectForm)">
    <input type="hidden" formControlName="id" [ngModel]="subject.id"/>
    <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" class="form-control" id="txtName" formControlName="name" [ngModel]="subject.name">
    </div>
    <div class="mb-3">
        <label for="txtUnit" class="form-label">Unit</label>
        <input type="number" class="form-control" id="txtUnit" formControlName="unit" [ngModel]="subject.unit">
    </div>
    <div class="mb-3">
        <label for="txtPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="txtPrice" formControlName="price" [ngModel]="subject.price">
    </div>
    <hr />
    <div class="tex-right">
        <button class="btn btn-primary">Save</button>
    </div>
    
</form>
